*{
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    margin-bottom: 5em;
}
.p1{
    border-radius: 50%;
    height: 35em;
    margin-left: 7em;
    margin-top: 3em;
}
#head2{
    margin-top: 3em;
    margin-left: 5em;
    font-size: 2em;
}
.l{
    margin-bottom: 35px;
    color: darkmagenta;
}
#head2 span{
    color: orangered;
}
.b1{
    background-color: blue;
    color: black;
    font-size: 1em;
    margin-top: 1em;
}
.me{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    margin-left: 5em;
}
#me2{
    font-size: 2em;
    margin-left: 1em;
}
#me1 h2{
    margin-left: 9em;
    font-size: 4em;
    margin-top: 3em;
}
.proj{
    display: flex;
    padding-top: 5em;
}
#tin{
    margin-top: 5em;
    margin-left: 18em;
    font-size: 2em;
}
#proj1{
    box-shadow: 0px 0px 5px grey;
    border-radius: 15px;
    margin-right: 7em;
    margin-left: 3em;
    background-color: whitesmoke;
}
#proj2{
    box-shadow: 0px 0px 5px grey;
    border-radius: 20px; 
    background-color: whitesmoke; 
}
#proj1 p{
    font-size: 2em;
    margin-top: 2em;
    margin-left: 5em;
}
#proj2 p{
    font-size: 2em;
    margin-top: 2em;
    margin-left: 5em;
}
#proj1 li{
    font-size: 2em;
    margin-left: 6em;
}
.s{
    margin-left: 8em;
    font-size: 2em;
    margin-top: 2em;

}
#proj2 li{
    font-size: 2em;
    margin-left: 6em;
}
.ss{
    margin-left: 8em;
    font-size: 2em;
    margin-top: 2em;  
}
.hobbs{
    display: flex;
    font-size: 2em;
    justify-content: space-around;
    margin-top: 3em;
    margin-left: 2em;
}
.hobbs{
    background-image: url("images/hobbies.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 50vh;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}
.footer p{
    font-size: 2em;
    margin-left: 5em;
}
 @media screen and (max-width: 500px) {
    body{
        background-color: yellow;
    }
    .container {
     display: flex;
     flex-direction: column;   
    } 
}




