*{
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    margin-bottom: 5em;
}
.p1{
    border-radius: 50%;
    height: 35em;
    margin-left: 7em;
    margin-top: 3em;
}
#head2{
    margin-top: 3em;
    margin-left: 5em;
    font-size: 3em;
}
.l{
    margin-bottom: 35px;
    color: darkmagenta;
}
#head2 span{
    color: orangered;
}
.b1{
    background-color: rgb(58, 224, 25);
    color: black;
    font-size: 1em;
    margin-top: 1em;
}
.me{
    display: flex;
    margin-top: 3em;
    margin-left: 5em;
}
#me2{
    font-size: 3em;
    margin-left: 1em;
}
#me1 h2{
    margin-left: 9em;
    font-size: 4em;
    margin-top: 3em;
}
.proj{
    display: flex;
    padding-top: 5em;
}
#tin{
    margin-top: 5em;
    margin-left: 18em;
    font-size: 2em;
}
#proj1{
    box-shadow: 0px 0px 5px grey;
    border-radius: 15px;
    margin-right: 7em;
    margin-left: 3em;
}
#proj2{
    box-shadow: 0px 0px 5px grey;
    border-radius: 20px;  
}
#proj1 p{
    font-size: 2em;
    margin-top: 2em;
    margin-left: 5em;
}


